@media only screen and (max-width: 370px) {
  /* Navbar */
  .ham-icn {
    display: inline;
  }
  .nav-list {
    display: none;
  }
  #nav-menu {
    display: inline;
  }

  /* Main */
  .main {
    margin-top: 20px;
  }
  .left-main {
    display: none;
  }
  .alt-left-main {
    display: inline-block;
  }
  .wlcm-name {
    font-family: var(--sec-ff);
    color: yellow;
    font-size: 20px;
  }
  .abt-btn {
    background-color: blueviolet;
    padding: 6px 3px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  .right-main img {
    width: 70vw;
    height: 80vh;
  }

  /* Footer */
  /* .footer {
    width: 100%;
  } */
  .cnt-form {
    flex-direction: column;
  }
  .form-left {
    width: 100%;
  }
  .form-right {
    width: 100%;
    margin-top: 20px;
  }
}
